body{
    overflow-y: scroll;
    #app{
        .current-value{
            margin-top: 20px;
            font-family: 'Architects Daughter','Helvetica Neue',Helvetica,Arial,serif;
        }

        .navPanel{
            padding-top: 20px;
            font-family: 'Architects Daughter','Helvetica Neue',Helvetica,Arial,serif;
        }
    }
}